* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Montserrat;
    color: #2A2F31
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.clic {
    border: 4px solid #5C10FF;
}


h1 {
    color: #5C10FF;
    text-align: center;
    margin: 50px 0;
}

h2 {
    font-family: Dm mono;
    font-size: 18px;
    text-align: center;
}

.grey {
    background-color: #CCCCCC;
}

.red {
    color: #F65656;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}


#timer {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px;
    padding: 20px;
    font-weight: 800;
}

.carte {
    font-family: Dm mono;
    background-color: #EE0659;
    color: #fff;
    margin: 0 10px;
    border-radius: 4px;
    border: 2px solid #2A2F31;
    font-size: 30px;
}

label, button {
    font-family: Dm mono;
    font-size: 16px;
    font-weight: 400;
    color: #2A2F31
}

p {
    text-align: left;
}

#valider {
    color: #F65656;
    background-color: #f8f8f8;
    height: 40px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border: #F65656 2px solid;
    border-radius: 4px;
}

#valider:hover {
    background-color: #F65656;
    color: #fff;
}

input, button {
    margin: 0 20px;
 }

input {
   height: 30px;
}

#id {
    font-family: Dm mono;
    margin: 20px 0 70px 0;
    text-align: center;
    color: #CCCCCC;
    text-transform: uppercase;
}

.grid {
    background-color: #f8f8f8;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 500px;
}

.grid1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid2, .grid4 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid3, .grid5 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.button-submit {
    grid-column-start: 2;
    grid-column-end: 3;
}

.jeu-grid {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    gap: 20px;
}


